<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/configuracion']">
        <ion-icon icon="settings-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-subtitle>
        <ul>
          <li>
            {{cita}}
          </li>
        </ul>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>{{autorCita}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/gestion-citas']" slot="end" size="small">
      <ion-icon slot="icon-only" name="add-circle-outline" />
    </ion-button>
  </ion-toolbar>